<div id="{{id}}-checkbox-controls" style="position:absolute; left:6px; top:6px; width:1040px; height:40px; background-color: #333333;">
    <div id="{{id}}-option-nrthup" class="form-check" style="position:absolute; border-radius: 6px 0 0 6px; color:white; width:132px; height:40px; border: 2px solid white; padding-top:4px; padding-left: 28px; font-size:20px; font-family:sans-serif;">
        <input type="checkbox" class="form-check-input" id="{{id}}-checkbox-nrthup" style="transform:scale(1.5); margin-top:9px;">
        <label class="form-check-label" for="{{id}}-option-northup" style="margin-left:4px;">NRTHUP</label>
    </div>
    <div id="{{id}}-option-overlay-nrthup" style="position:absolute; width:132px; height:40px;">
    </div>
    <div id="{{id}}-option-trfc" class="form-check" style="position:absolute; left: 130px; color:white; width:132px; height:40px; border: 2px solid white; padding-top:4px; padding-left: 28px; font-size:20px; font-family:sans-serif;">
            <input type="checkbox" class="form-check-input" id="{{id}}-checkbox-trfc" style="transform:scale(1.5); margin-top:9px;">
            <label class="form-check-label" for="{{id}}-option-trfc" style="margin-left:4px;">TRFC</label>
    </div>
    <div id="{{id}}-option-overlay-trfc" style="position:absolute; left:130px; width:132px; height:40px;">
    </div>
    <div id="{{id}}-checkbox3" class="form-check" style="position:absolute; left: 260px; color:white; width:132px; height:40px; border: 2px solid white; padding-top:4px; padding-left: 28px; font-size:20px; font-family:sans-serif;">
    </div>
    <div id="{{id}}-checkbox3-overlay" style="position:absolute; left:260px; width:132px; height:40px;">
    </div>
    <div id="{{id}}-checkbox4" class="form-check" style="position:absolute; left: 390px; color:white; width:132px; height:40px; border: 2px solid white; padding-top:4px; padding-left: 28px; font-size:20px; font-family:sans-serif;">
    </div>
    <div id="{{id}}-checkbox4-overlay" style="position:absolute; left:390px; width:132px; height:40px;">
    </div>
    <div id="{{id}}-checkbox5" class="form-check" style="position:absolute; left: 520px; color:white; width:132px; height:40px; border: 2px solid white; padding-top:4px; padding-left: 28px; font-size:20px; font-family:sans-serif;">
    </div>
    <div id="{{id}}-checkbox5-overlay" style="position:absolute; left:520px; width:132px; height:40px;">
    </div>    
    <div id="{{id}}-checkbox6" class="form-check" style="position:absolute; left: 650px; color:white; width:132px; height:40px; border: 2px solid white; padding-top:4px; padding-left: 28px; font-size:20px; font-family:sans-serif;">
    </div>
    <div id="{{id}}-checkbox6-overlay" style="position:absolute; left:520px; width:132px; height:40px;">
    </div>    
    <div id="{{id}}-checkbox7" class="form-check" style="position:absolute; left: 780px; color:white; width:132px; height:40px; border: 2px solid white; padding-top:4px; padding-left: 28px; font-size:20px; font-family:sans-serif;">
    </div>
    <div id="{{id}}-checkbox7-overlay" style="position:absolute; left:780px; width:132px; height:40px;">
    </div>    
    <div id="{{id}}-checkbox8" class="form-check" style="position:absolute; border-radius: 0 6px 6px 0; left: 910px; color:white; width:132px; height:40px; border: 2px solid white; padding-top:4px; padding-left: 28px; font-size:20px; font-family:sans-serif;">
    </div>
    <div id="{{id}}-checkbox8-overlay" style="position:absolute; left:910px; width:132px; height:40px;">
    </div>    
</div>