<div id="{{id}}" style="position:absolute;width:100%;margin-left:auto;margin-right:auto;">

    <div class="input-group input-group-sm mb-3" style="width:{{width}}px;margin:auto;">
        <div class="input-group-prepend" style="margin-left:0px;">
            {{#if data.scenarios}}
            <div class="input-group input-group-sm mb-3" style="margin-right:30px;">
                <div class="btn-group">
                    <button class="btn btn-secondary btn-sm dropdown-toggle" type="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                        <div style="width:120px; display:inline-block;"><a id="{{id}}-selected-scenario">{{data.selectedScenario}}</a></div>
                    </button>
                    <div class="dropdown-menu dropdown-menu-right" aria-labelledby="dropdownMenuButton">
                        {{#each data.scenarios}}
                        <div style="text-align:center;"><a id="{{../id}}-scenario-{{this}}" class="dropdown-item" style="cursor:pointer; font-size:small;">{{this}}</a></div>
                        {{/each}}
                    </div>
                </div>
            </div>
            {{/if}}

            <div class="input-group input-group-sm mb-3" style="margin-right:30px;">
                <span class="btn-sm" style="text-align:center; background-color:#e9ecef; border:1px solid #ced4da; white-space:nowrap;vertical-align: middle; line-height:1.5em;">Simulation Speed (%)</span>
                <input id="{{id}}-speed-input" style="text-align:center;" type="number" value="100" min="1" aria-label="simulation speed" class="form-control">
            </div>
            <div class="input-group input-group-sm mb-3" style="margin-right:30px;">
                <span class="btn-sm" style="text-align:center; background-color:#e9ecef; border:1px solid #ced4da; white-space:nowrap;vertical-align: middle; line-height:1.5em;">
                    Simulation step: 
                    <span id="{{id}}-curr-sim-step" style="margin-left:4px; margin-right:4px;">0</span>
                    of
                    <span id="{{id}}-tot-sim-steps" style="margin-left:4px; margin-right:4px;">0</span>
                </span>
            </div>
            <div class="input-group mb-3" style="width: 240px; margin-left:20px; margin-right:30px;">
                <div class="btn-group btn-group-toggle" role="group" aria-label="View">
                    <button type="button" class="btn btn-sm btn-danger" id="{{id}}-pause" style="width:84px;">Pause</button>
                    <button type="button" class="btn btn-sm btn-primary" id="{{id}}-play" style="width:84px;">Play</button>
                    <button type="button" class="btn btn-sm btn-warning" id="{{id}}-step" style="width:84px;">Step</button>
                </div>
            </div>
            <div class="input-group input-group-sm mb-3" style="margin-left:20px; margin-right:30px;">
                <button id="{{id}}-goto" type="button" class="btn btn-sm btn-secondary" style="width:84px;">GoTo</button>
                <input id="{{id}}-goto-input" style="text-align:center;" type="number" value="0" min="0" aria-label="goto" class="form-control">
            </div>
        </div>
    </div>

</div>